<body>
<div class = 'container mt-5'>
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <div class = 'card mt-2'>
                <div class = 'card-header'>
                    <h1>--------------TODO APP--------------</h1>
                </div>
                <div class = 'card-body submit_form'>
                    <form method = "POST" action="/">{% csrf_token %}
                    <div class = "row">
                        <div class = "form-group col-md-12">
                            {{form.title}}
                        </div>
                        <div class = "form-group col-md-12">
                            <button type = "submit" class = "btn btn-primary">
                                Add Task
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            {% for p in post_list %}
            <div class = "task card mt-2">
                <div class = "card-body">
                    {% if p.complete == True %}
                    <div class = "card-title">
                        Task Added: <strike><strong>{{p.title}}</strong></strike>
                        {{complete Task}}
                    </div>
                    {% else %}
                    <span class = "card-title">
                        Task Added: <strong>{{p.title}}</strong>
                    </span>
                    {% endif %}
                    <p class = "card-text">
                        Task Added Time: {{p.timestamp|timesince}} ago
                    </p>
                    <a class = "btn btn-info" href="{%url 'Update' p.id%}">
                        Update
                    </a>
                    <a class = "btn btn-danger" href="{%url 'Delete_task' p.id%}">
                        Update
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>